@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');



/*  Definições do estilo da página inicial evento do dia */


.wrapper-info{
    width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: blue;
}


.day-evento{
    width: 90%;
    margin: 2% 0;

}

.card-day{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: cadetblue;
}

.card-day .card-text{
    font-size: 18px;
    text-align: center;
    line-height: 4;
    font-family: Roboto Condensed , sans-serif;
    margin: 2%;

}
.card-day img{
    width:80%;
    height: auto;
    margin: auto;
    display: block;
    padding: 5%;
}




.form-convidados{
    width:70% ;
    float: right;
    margin: 2% 0;
}

.form-convidados form{
    padding: 10px;
    width: 60%;
    background-color: coral;
}



/*  */

.eventos{
width: 100%;   
 height: auto;
    margin: 2% 0%;
    font-family: Nanum Gothic , sans-serif ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;

   
}


.cards-eventos{
width: 65%;
height: auto;
    background-color: cornsilk;
    margin: 5%;
    padding: 2%;
    border-radius: 5px;
    border: solid 1px black;
}

.cards-tittle{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    padding: 1%;
}


.cards-info {
    text-align: center;
    font-size: 16px;

}
.cards-eventos img{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    padding: 5%;

}


/* Definições de estilo do formulario de  criação de eventos  */

.form-eventos{
   display: grid;
   grid-template-columns: 1fr 1fr;

}


.form-eventos form{
    margin-top: 5%;
    width: 45%;
border-radius: 2%;
}

form input , form button {
   
    
     width: 40%;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    border: solid 1px black;
}



form textarea{
    width: 50%;
    margin: 2%;
    padding: 1%;
    box-sizing: border-box ;
    border-radius: 5px;
    border: solid 1px black
}

