@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');



/*  Definições do estilo da página inicial evento do dia */


.wrapper-info{
    width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.day-evento{
    width: 90%;
    margin: 2% 0;

}

.card-day{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    background-color: cadetblue;
}

.card-day .card-text{
    font-size: 18px;
    text-align: center;
    line-height: 4;
    font-family: Roboto Condensed , sans-serif;
    margin: 2%;

}
.card-day img{
    width:80%;
    height: auto;
    margin: auto;
    display: block;
    padding: 5%;
}




.form-convidados{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.form-about, .form {
    padding: 25px 0;
    width: 500px;

}

.form-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icone-about{
    width: 100%;
    text-align: center;
}


.form-about p {

    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 2;
}
.form-about i {
    padding: 30px 0;
    font-size: 80px;
    color: rgb(144, 146, 146);

}

.input-container {
    display: flex;
    justify-content: center;
}

.input-field {
    width: 300px;
}

 .form-convidados > .form-about{
    background-color:#ebdddd;
} 

.form-convidados > .form{
    background-color: coral;
} 


 .input-container {
  display: flex;
  margin-bottom: 15px;
}

.input-container i {
  padding: 10px;
  background-color: #ebdddd;
  color: black;
  min-width: 20px;
  text-align: center;
}

.input-field {
  width: 60%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

button{
    padding: 15px;
    border: none;
    border-radius: 2px;
    width: 150px;
    background-color: blanchedalmond;
}

/*  */

.eventos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10% 0;
    border-bottom: 1px solid slateblue;
}


.cards-info h2{
    border-bottom: 3px solid teal;
}

.cards-info {
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 2;
    padding: 20px;
    width: 500px;
    font-family: Roboto, sans-serif;
    font-size: 16px;


}


.eventos img{
    width: 50vh;
    padding: 10%;

}


