@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nixie+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    font-family: Nixie One , sans-serif ;
    font-weight: bold;
    text-align: justify;
    font-size: 25px;
}
/* body{
    background-image: url("6452.jpg");
      background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #464646;


} */



.navbar{
    width: 100%;
    background-color: rgb(127, 188, 245);
    display: flex;
    align-items: center;
}


.navbar ul {
    list-style: none;

}

.navbar-item{
    width: 350px;
    float: right;
}



.navbar-item a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    font-family: Nixie One , sans-serif;
    color: black;
    padding: 15px;

}

.navbar-item a:hover{
    color: gold;
}

.navbar-brand img{
    width: 10%;

}
.navbar-brand {
    margin: 10px;
    float: left;

}




/* FOTTER */
footer{
    display: flex;
    background: rgb(179, 174, 174);
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;


  }

  .ft-container{
    display: flex;
    width: 90%;
    height: 200px;
  }

  .footer-header {
    padding: 10px 0;
    color: rgb(233, 229, 229);
    font-family: Nixie One , sans-serif;
    font-size: 20px;
  }



  .about-copyright{
width: 500px;
padding: 20px;
  }

  .about-copyright p{
    padding: 10px 0;
  }
  
  .about-empresa {
    width: 600px;
    border-right: 1px solid black ;
  }


  .about-empresa p {
    line-height: 2;
  }


  .footer-list-top {
    list-style: none;
  }
  .footer-list-top li {
    padding-bottom: 10px;
  }

  .footer-list-top a{
      font-size: 18px;
    text-decoration: none;
    color: black;

  }
 



  /* RESPONSIVO  */
  @media only screen and (max-width: 768px) {
    .footer-list-header {
      font-size: 2em
    }
    .footer-list-anchor {
      font-size: 1.1em
    }
    .footer-social-connect {
      font-size: 2.5em
    }
    .footer-social-overlap > a {
      font-size: 2.24em
    }
    .footer-bottom-wrapper {
      font-size: 1.3em
    }
  }
  @media only screen and (max-width: 568px) {
    main {
      font-size: 5em
    }
    .footer-list-top {
      width: 100%
    }
    .footer-list-header {
      font-size: 3em;
    }
    .footer-list-anchor {
      font-size: 1.5em
    }
    .footer-social-section {
      justify-content: center
    }
    .footer-social-section::after {
      top: 25%
    }
    .footer-social-connect {
      margin-bottom: 10px;
      padding: 0 10px
    }
    .footer-social-overlap {
      display: flex;
      justify-content: center;
    }
    .footer-social-icons-wrapper {
      width: 100%;
      padding: 0
    }
    .footer-social-overlap > a:not(:first-child) {
      margin-left: 20px;
    }
    .footer-bottom-section {
      padding: 0 5px 10px 5px
    }
    .footer-bottom-wrapper {
      text-align: center;
      width: 100%;
      margin-top: 10px
    }
  }
  @media only screen and (max-width: 480px) {
    .footer-social-overlap > a {
      margin: auto
    }
    .footer-social-overlap > a:not(:first-child) {
      margin-left: 0;
    }
    .footer-bottom-rights {
      display: block
    }
  }
  @media only screen and (max-width: 320px) {
    .footer-list-header {
      font-size: 2.2em
    }
    .footer-list-anchor {
      font-size: 1.2em
    }
    .footer-social-connect {
      font-size: 2.4em
    }
    .footer-social-overlap > a {
      font-size: 2.24em
    }
    .footer-bottom-wrapper {
      font-size: 1.3em
    }
  }